.about-header {
  display: flex;
  justify-content: center; /* Center horizontally */
  font-size: 2em;
}

.about-header > div {
  text-align: center; /* Center text inside */
}

.about-container{
  display:flex;
}

.about-content-container{
  flex:2;
  padding: 0 10rem;
    
}

.about-image {
  width: 15em; /* Set the width of the image */
  height: 15em; /* Set the height of the image */
  border-radius: 50%; /* Makes the image circular */
  margin-bottom: 20px; /* Adds space below the image */
  
}

.about-image-container {
  flex:1;
  justify-content: flex-end;
  display: flex;
}

