body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}


.container {
  max-width: 100%; /* Set a maximum width for your content */
  width: 100%; /* Ensure the container uses the full width available */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 0px; /* Adds 20px padding on the left and right sides */
}

html {
  scroll-behavior: smooth;
}
