/* src/components/Projects.css */

.projects-container {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto; /* Centers the content on the page */
  }
  
  .projects-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between projects */
  }
  
  .project-item {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between image and description */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .project-technologies {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 15px;
    flex: 1; /* Allows description to take available space */
  }
  
  .project-date {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 15px;
  }
  
  .project-link {
    color: #e8cd46;
    text-decoration: none;
    font-weight: bold;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  
  /* New styles for project GIF */
  .project-gif {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  