.about-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  padding: 20px; /* Optional: Padding around the content */
}

.about-container > div {
  text-align: center; /* Center text inside */
}

.about-content-container{
    padding: 0 30rem;
}